apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: media-stack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      containers:
        - name: jellyfin
          image: linuxserver/jellyfin:10.11.3
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "UTC"
          ports:
            - containerPort: 8096
              name: http
            - containerPort: 8920
              name: https
              protocol: TCP
            - containerPort: 7359
              name: discovery
              protocol: UDP
          volumeMounts:
            - name: jellyfin-config
              mountPath: /config
            - name: torrent-downloads
              mountPath: /data
      volumes:
        - name: jellyfin-config
          persistentVolumeClaim:
            claimName: jellyfin-config-pvc
        - name: torrent-downloads
          persistentVolumeClaim:
            claimName: torrent-downloads-pvc
