apiVersion: v1
kind: Service
metadata:
  name: jellyseerr
  namespace: media-stack
spec:
  selector:
    app: jellyseerr
  ports:
    - name: http
      port: 5055
      targetPort: 5055
      protocol: TCP
  type: ClusterIP
